<!DOCTYPE html>

<html>
<head>
    <title>Payroll manager</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'payroll/css/style.css' %}" />
    <script type="text/javascript" >
        document.addEventListener('DOMContentLoaded', function() {
            if ("{{ opt }}" == 'customers') {
                customersOpt.style.display = 'block';
                customersList.style.display = 'block';
                suppliersList.style.display = 'none';
            }
            if ("{{ opt }}" == 'suppliers') {
                suppliersOpt.style.display = 'block';
                suppliersList.style.display = 'block';
                customersList.style.display = 'none';
            }
        }, false);
    </script>
    <script src="{% static 'payroll/js/index.js' %}"></script>
</head>

<body>
<div id="wrapper">
    <h1 id="header" class="upper center">
        <a href="{% url 'payroll:home' %}" >Payroll</a>
    </h1>
    <div id="main">
        <div id="left-sidebar">
            <div id="customersOpt">
                <div class="leftMenu class="upper">
                    <div class="leftMenuTitle upper">Customers</div>
                    <a class="leftMenuLink upper" href="#"
                       onclick="showForm('newCustomer');">
                        New
                    </a>
                    <a class="leftMenuLink upper"
                       href="{% url 'payroll:customerBatch' %}">
                        Batch
                    </a>
                    <a class="leftMenuLink upper"
                       href="{% url 'payroll:mainSite' 'customers' %}">
                        List
                    </a>
                </div>
            </div>
            <div id="suppliersOpt">
                <div class="leftMenu">
                    <div class="leftMenuTitle upper">Supplires</div>
                    <a class="leftMenuLink upper" href="#"
                        onclick="showForm('newSupplier');">
                        New
                    </a>
                    <a class="leftMenuLink upper"
                       href="{% url 'payroll:suppliersBatch' %}">
                        Batch
                    </a>
                    <a class="leftMenuLink upper"
                       href="{% url 'payroll:mainSite' 'suppliers' %}">
                        List
                    </a>
                </div>
            </div>
            <div class="leftMenu">
                <div class="leftMenuTitle upper">Menu</div>
                {% for link in menuLinks %}
                <a class="leftMenuLink upper"
                   href="{% url 'payroll:mainSite' link %}">
                    {{ link }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div id="details">
            <div id="customersList">
                <div id="newCustomer">
                    <form id="newUserForm" action="newCustomer" method="post">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <th colspan="2" class="upper">New user</th>
                            </tr>
                            <tr>
                                <td class="right">
                                    Number:
                                </td>
                                <td>
                                    <input type="text" name="customerNumber" />
                                </td> 
                            </tr>
                            <tr>
                                <td class="right">
                                    Name:
                                </td>
                                <td>
                                    <input type="text" name="customerName" />
                                    </td> 
                            </tr>
                            <tr>
                                <td colspan="2" class="center">
                                    <input type="submit" value="Register" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div id="customerBatch">
                    {% if customersBatch %}
                        <table>
                            <tr>
                                <th class="center">Cust. No.</th>
                                <th class="center">Description</th>
                                <th class="center">Price</th>
                                <th class="center">Date</th>
                            </tr>
                            {% for batch in customersBatch %}
                            <tr>
                                <td class="center">{{ batch.customer.number }}</td>
                                <td class="center batchDesc">{{ batch.description }}</td>
                                <td class="center">{{ batch.price }}</td>
                                <td class="center regDate">{{ batch.date }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <h2 class="center">No customer batch registered</h2>
                    {% endif %}
                </div>
            </div>
            <div id="suppliersList">
                <div id="newSupplier">
                    <form id="newSupplierForm" action="newSupplier" method="post">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <th colspan="2" class="upper">New supplier</th>
                            </tr>
                            <tr>
                                <td class="right">Number:</td>
                                <td><input type="text" name="supplierNumber" /></td> 
                            </tr>
                            <tr>
                                <td class="right">Name:</td>
                                <td><input type="text" name="supplierName" /></td> 
                            </tr>
                            <tr>
                                <td colspan="2" class="center">
                                    <input type="submit" value="Register" />
                                </td>
                            </tr>
                        </table> 
                    </form>
                </div>
                <div id="suppliersBatch">
                    
                    {% if suppliersBatch %}
                        <table>
                            <tr>
                                <th class="center">Supp. No.</th>
                                <th class="center">Description</th>
                                <th class="center">Price</th>
                                <th class="center">Date</th>
                            </tr>
                            {% for batch in suppliersBatch %}
                            <tr>
                                <td class="center">{{ batch.supplier.number }}</td>
                                <td class="center batchDesc">{{ batch.description }}</td>
                                <td class="center">{{ batch.price }}</td>
                                <td class="center regDate">{{ batch.date }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <h2 class="center">No supplier batch registered</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
