<!DOCTYPE html>

<html>
<head>
    <title>Payroll manager</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'payroll/css/style.css' %}" />
    <script type="text/javascript" >
        document.addEventListener('DOMContentLoaded', function() {
            if ("{{ opt }}" == 'customers') {
                customersOpt.style.display = 'block';
                customersList.style.display = 'block';
                suppliersList.style.display = 'none';
            }
            if ("{{ opt }}" == 'suppliers') {
                suppliersOpt.style.display = 'block';
                suppliersList.style.display = 'block';
                customersList.style.display = 'none';
            }
        }, false);
    </script>
    <script src="{% static 'payroll/js/index.js' %}"></script>
</head>

<body>
<div id="wrapper">
    <h1 class="upper center">Payroll</h1>
    <div id="main">
        <div id="left-sidebar">
            <div id="customersOpt">
                <div class="leftMenu class="upper">
                    <div class="leftMenuTitle upper">Customers</div>
                    <a class="leftMenuLink upper" href="#"
                       onclick="showForm('newCustomer');">
                        New
                    </a>
                    <a class="leftMenuLink upper" href="#"
                       onclick="showForm('newOrder');">
                        Order
                    </a>
                </div>
            </div>
            <div id="suppliersOpt">
                <div class="leftMenu">
                    <div class="leftMenuTitle upper">Supplires</div>
                    <a class="leftMenuLink upper" href="#"
                        onclick="showForm('newSupplier');">
                        New
                    </a>
                </div>
            </div>
            <div class="leftMenu">
                <div class="leftMenuTitle upper">Menu</div>
                {% for link in menuLinks %}
                <a class="leftMenuLink upper"
                   href="{% url 'payroll:mainSite' link %}">
                    {{ link }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div id="details">
            <div id="customersList">
                <div id="newCustomer">
                    <form id="newUserForm" action="" method="post">
                        <table>
                            <tr>
                                <th colspan="2" class="upper">New user</th>
                            </tr>
                            <tr>
                                <td class="right">Number:</td>
                                <td><input type="text" name="customerNumber" /></td> 
                            </tr>
                            <tr>
                                <td class="right">Name:</td>
                                <td><input type="text" name="customerName" /></td> 
                            </tr>
                            <tr>
                                <td colspan="2" class="center">
                                    <input type="submit" value="Register" />
                                </td>
                            </tr>
                        </table> 
                    </form>
                </div>
                
                <h2 class="center upper">Customers list</h2>
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Registered</th>
                    </tr>
                    {% for customer in customers %}
                    <tr>
                        <td class="center">{{ customer.number }}</td>
                        <td class="center compName">{{ customer.name }}</td>
                        <td class="center regDate">{{ customer.date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="suppliersList">
                <div id="newSupplier">
                    <form id="newSupplierForm" action="" method="post">
                        <table>
                            <tr>
                                <th colspan="2" class="upper">New supplier</th>
                            </tr>
                            <tr>
                                <td class="right">Number:</td>
                                <td><input type="text" name="supplierNumber" /></td> 
                            </tr>
                            <tr>
                                <td class="right">Name:</td>
                                <td><input type="text" name="supplierName" /></td> 
                            </tr>
                            <tr>
                                <td colspan="2" class="center">
                                    <input type="submit" value="Register" />
                                </td>
                            </tr>
                        </table> 
                    </form>
                </div>
                <h2 class="center upper">Suppliers list</h2>
                <table>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Registered</th>
                    </tr>
                    {% for supplier in suppliers %}
                    <tr>
                        <td class="center">{{ supplier.number }}</td>
                        <td class="center compName">{{ supplier.name }}</td>
                        <td class="center regDate">{{ supplier.date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
