body {
    font-family: "Helvetical", sans-serif;
}

h1 {
    font-weight: bold;
}

#wrapper {
    width: 900px;
    padding: 10px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 10px 4px #E1E1E1;
    box-shadow: 0px 0px 10px 4px #E1E1E1;
    min-height: 600px;
}

#main {
    width: 800px;
    margin: 10px auto;
    padding: 6px;
    border: 1px solid #ccc;
    display: table;
    position: relative;
}

#left-sidebar {
    float: left;
    position: relative;
}

#customersOpt, #suppliersOpt, #customersList {
            display: none;
        }
        
.leftMenu {
    margin: 4px;
    min-width: 100px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.leftMenu {
    margin: 4px;
    width: 140px;
    border: 1px solid #ccc;
    font-weight: bold;
}

.leftMenuTitle {
    padding: 8px;
    background-color: #444;
    text-align: center;
    color: #fff;
}

.leftMenu .leftMenuLink {
    display: block;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.leftMenu .leftMenuLink:hover {
    color: #fff;
    background-color: #CB1919;
}

#details {
    margin: 4px;
    padding: 10px;
    min-height: 200px;
    min-width: 620px;
    border: 1px solid #ccc;
    float: left;
    position: relative;
}

#newCustomer, #newOrder, #newSupplier {
    display: none;
}

#newCustomer table .newCustomerLabel {
    text-align: right;
}

#customersList {
    border: 1px solid #ccc;
    display: none;
}

#customersList table {
    margin: 10px auto;
    border-collapse: collapse;
}

#customersList table th {
    background-color: #444;
    color: #fff;
    padding: 4px;
    border: 0;
    width: 80px;
}

#customersList table td {
    padding: 4px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#suppliersList {
    border: 1px solid #ccc;
    display: none;
}

#suppliersList table {
    margin: 10px auto;
    border-collapse: collapse;
}

#suppliersList table th {
    background-color: #444;
    color: #fff;
    padding: 4px;
    border: 0;
    width: 80px;
}

#suppliersList table td {
    padding: 4px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


.center {
    text-align: center;
}

.right {
    text-align: right;
}

.compName {
    width: 350px;
}

.regDate {
    width: 120px;
}

.upper {
    text-transform: uppercase;
}